/*=============== BASE ===============*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  background-color: var(--body-color);
  font-size: var(--h2-font-size);
  color: var(--text-color);
  line-height: 1.6;
  transition: 0.4s; /*For animation dark mode*/
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

button,
.btn {
  cursor: pointer;
  border: none;
  outline: none;
}
